.mainBar {
  background-color: rgb(128,128,192);
  padding: 20px;
  height: 20px;
  border-radius: 40px;
  display: grid;
  grid-template-columns: 20px
}

body {
    background-color: rgb(54,57,62);
}

.mainRecipe{
  margin: 20px auto;
  width: 600px;
  height: 600px;
  display:grid;
  grid-template-columns: 300px 300px;
  grid-row: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.box{
  background-color: rgb(200,200,200);
  padding: 20px;
  border-radius: 20px;
}
